<!doctype html>
<html>
<head>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mello Jello</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <nav class="nav">
      <span id="logo">Horizonello</span>
    </nav>
  </header>
  <div class="container">
  </div>
   {{{ body }}}
  <footer>

  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>

