<div class="lists" id="0">
</div>
<div class="add-list">
  <form id="add-list">
    <label>add a list</label>
    <input maxlength="50" name="name" type="text" />
    <input type="submit" value="add" />
  </form>

